<section class="container {{ grid_size }}">
    <p>2018-2025<i class="fa fa-copyright"></i> IT Solutions with <i class="fa fa-heart-o pulse "></i> by <a href="https://anonyzm.tech/">Leo</a>.</p>
</section>