<nav class="dropmenu animated">
    <ul {{ tree ? 'class="tree"' : '' }}>
        <li>
            <a href="/" class="active">
                Home
            </a>
        </li>
        <li>
            <a href="/typography" class="">
                Typography
            </a>
        </li>
        <li>
            <a href="/contacts" class="">
                Contacts
            </a>
        </li>
    </ul>                                
</nav>